@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Salsa", cursive;
  box-sizing: border-box;
}

body {
  background: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
}


.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 10);
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

/*just for line below Quote Of the Day*/
.quote-box h2::after {
  content: "";
  width: 180px;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(45deg, #000, #fff);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}
.quote-box blockquote::before,
.quote-box blockquote::after {
  content: ' " ';
}
.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}
.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: linear-gradient(45deg, #000, #fff);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: linear-gradient(90deg,#ED2D53, #0AB6F8 );
  color: #fff;
  border-radius: 25px;
  border: 1px solid;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-right:70px;
  margin-left:70px; ;
  cursor: pointer;
}

.quote-box button img {
  width: 20px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
